apex_dma/build
.vs/
x64/
*.o
target/
*.rs.bk
*.swp
*.dll
*.dylib
.vscode
Cargo.lock
*.so
.vscode/
apex_dma/.cache/
CLAUDE.md
*.user
*.suo
*.DS_Store
*.history
*.iml
.idea/
*.log
*.cache
*.local
.env
*.pyc
__pycache__/
*.ipynb_checkpoints
*.orig
*.bak
*.tmp
*.temp
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.swn
*.swo
.clangd
bin/
compile_commands.json